.gradient-custom-3 {
    /* fallback for old browsers */
    background: #242570;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(12, 27, 75, 0.945), rgba(29, 84, 136, 0.651));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left top, rgba(12, 27, 75, 0.945), rgba(29, 84, 136, 0.651))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #035c97;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(81, 204, 212, 0.692), rgba(99, 184, 151, 0.658));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(81, 204, 212, 0.692), rgba(99, 184, 151, 0.658))
    }

body{
    background-size: 100%;
}